.item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    width: 900px;
    height: 320px;
  }
  
  .status {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
  }
  
  .status_online {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: green;
  }
  
  .status_offline {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: red;
  }
  
  .avatar {
    width: 230px;
    margin-left: 40px;
  }
  
  .name {
    margin-left: 40px;
  }
  